<p-toast position="top-right" key="creditNoteBreakupMessage"></p-toast>

<form>
  <div class='row ui grid' style="margin-top: 20px;margin-bottom: 10px;">
    <div class='four wide field popup-page-information' [hidden]="!isCreditNoteBreakupObj">
      <label>Show   </label><span></span>
      <select (change)="sizeChanged($event)" id="dd_retail_note_breakup_size" class="ui dropdown">
        <option value=10>10</option>
        <option value=25>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
      </select>
      <label>Entries </label>
    </div>
    <div class='twelve wide field pagination' *ngIf="isCreditNoteBreakupObj">
      <div *ngIf="pager.pages && pager.pages.length" class="ui right floated pagination menu">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)" class="icon item">
          First
        </a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)" class="icon item">
          Previous
        </a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)" class="icon item">
          {{page}}
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)" class="icon item">
          Next
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)" class="icon item">
          Last
        </a>
      </div>
    </div> 
    <div class="sixteen wide field">
      <p-table class="box-shadow-custom" [value]="creditNoteBreakupObj" [loading]="creditNoteBreakupLoading" [rowHover]="true" id="creditNoteBreakupTable" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 130px!important;white-space: break-spaces;">Retail Invoice No</th>
            <th style="width: 80px!important;white-space: break-spaces;">Retail Intake Status</th>
            <th style="width: 120px!important;white-space: break-spaces;">Credit Note Inv.No</th>
            <th style="width: 110px!important;white-space: break-spaces;">Credit Note Invoice Status</th>
            <th style="width: 150px!important;white-space: break-spaces;">Credit Note Invoice Date</th>
            <th style="width: 110px!important;white-space: break-spaces;">Credit Value</th>
            <th style="width: 110px!important;white-space: break-spaces;">Credit Type</th>
            <th style="width: 130px!important;white-space: break-spaces;">Credit Note Cancellation Date</th>
            <th style="width: 130px!important;white-space: break-spaces;">Credit Note Order No</th>
            <th style="width: 130px!important;white-space: break-spaces;">Credit Note Order Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-creditNoteBreakupItem let-i="rowIndex">
          <tr>
            <td style="width: 130px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.retail_INVOICE_NO }}</td>
            <td style="width: 80px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.retail_INVOICE_STATUS }}</td>
            <td style="width: 120px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_NOTE_INVOICE_NO }}</td>
            <td style="width: 110px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_NOTE_INVOICE_STATUS }}</td>
            <td style="width: 150px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_NOTE_INVC_DT }}</td>
            <td style="width: 110px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_VALUE }}</td>
            <td style="width: 110px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_TYPE }}</td>
            <td style="width: 130px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_NOTE_CANC_DT }}</td>
            <td style="width: 130px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_NOTE_ORDER_NO }}</td>
            <td style="width: 130px!important;white-space: break-spaces;">{{ creditNoteBreakupItem.credit_NOTE_ORDER_STATUS }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="20">No Data Available</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class='sixteen wide field pagination' style="margin-top: 10px; margin-bottom: 20px;" *ngIf="isCreditNoteBreakupObj">
      <div *ngIf="pager.pages && pager.pages.length" class="ui right floated pagination menu">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)" class="icon item">
          First
        </a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)" class="icon item">
          Previous
        </a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)" class="icon item">
          {{page}}
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)" class="icon item">
          Next
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)" class="icon item">
          Last
        </a>
      </div>
    </div>
  </div>
</form>
