#crmCreditAmountTable {
  position: relative;
  width: 100% !important;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
} 
#crmCreditAmountTable.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
#crmCreditAmountTable {
  display: inline-block;
  @media screen and (max-width: 500px) {
    min-height: 200px;
    min-width: 200px;
  }
}