<p-toast position="top-right" key="exchangeDetailsMessage"></p-toast>

<form [formGroup]="exchangeDetailsForm">
  <div class='five fields' style="margin-left: 10px!important;">
    <div class="field">
      <label>Sourcing Asset</label>
      <input type="text" placeholder="Sourcing Asset" id="txt_exchange_details_sourcing_asset" formControlName="SOURCING_ASSET" readonly>
    </div>

    <div class="field">
      <label>Exchange Certify</label>
      <input type="text" placeholder="Exchange Certify" id="txt_exchange_details_exchange_certify" formControlName="EXCHANGE_CERTIFY" readonly>
    </div>

    <div class="field">
      <label>New Asset</label>
      <input type="text" placeholder="New Asset" id="txt_exchange_details_new_asset" formControlName="NEW_ASSET" readonly>
    </div>

    <div class="field">
      <label>Sourcing PL</label>
      <input type="text" placeholder="Sourcing PL" id="txt_exchange_details_sourcing_pl" formControlName="SOURCING_PL" readonly>
    </div>

    <div class="field">
        <label>New PL</label>
        <input type="text" placeholder="New PL" id="txt_exchange_details_new_pl" formControlName="NEW_PL" readonly>
      </div>
  </div>

  <div class='five fields' style="margin-left: 10px!important;">
    <div class="field">
      <label>Sourcing PPL</label>
      <input type="text" placeholder="Sourcing PPL" id="txt_exchange_details_sourcing_ppl"  formControlName="SOURCING_PPL" readonly>
    </div>

    <div class="field">
      <label>New PPL</label>
      <input type="text" placeholder="New PPL" id="txt_exchange_details_new_ppl" formControlName="NEW_PPL" readonly>
    </div>

    <div class="field">
      <label>Sourcing Account Name</label>
      <input type="text" placeholder="Sourcing Account Name" id="txt_exchange_details_sourcing_account_name"  formControlName="SOURCING_ACCOUNT_NAME" readonly>
    </div>

    <div class="field">
      <label>New Account Name</label>
      <input type="text" placeholder="New Account Name" id="txt_exchange_details_new_account_name" formControlName="NEW_ACCOUNT_NAME" readonly>
    </div>

    <div class="field">
        <label>New LOB</label>
        <input type="text" placeholder="New LOB" id="txt_exchange_details_new_lob"  formControlName="NEW_LOB" readonly>
      </div>
  </div>

  <div class='five fields' style="margin-left: 10px!important;">
    <div class="field">
      <label>Sourcing LOB</label>
      <input type="text" placeholder="Sourcing LOB" id="txt_exchange_details_sourcing_lob" formControlName="SOURCING_LOB" readonly>
    </div>

    <div class="field">
      <label>New Vechicle Opty ID</label>
      <input type="text" placeholder="New Vechicle Opty ID" id="txt_exchange_details_new_vechicle_opty_id" formControlName="NEW_VECHICLE_OPTY_ID" readonly>
    </div>

    <div class="field">
      <label>Sourcing Opty ID</label>
      <input type="text" placeholder="Sourcing Opty ID" id="txt_exchange_details_sourcing_vechicle_opty_id" formControlName="SOURCING_VECHICLE_OPTY_ID" readonly>
    </div>

    <div class="field">
      <label>Sourcing contact Fst_name</label>
      <input type="text" placeholder="Sourcing contact Fst_name" id="txt_exchange_details_sourcing_contact_fst_name" formControlName="SOURCING_CONTACT_FST_NAME" readonly>
    </div>

    <div class="field">
        <label>New contact Fst_name</label>
        <input type="text" placeholder="New contact Fst_name" id="txt_exchange_details_new_contact_fst_name" formControlName="NEW_CONTACT_FST_NAME" readonly>
      </div>
  </div>

  <div class="five fields" style="margin-left: 10px!important;">
    <div class="field">
      <label>Sourcing Vechicle Manf Date</label>
      <input type="text" placeholder="Sourcing Vechicle Manf Date" id="txt_exchange_details_sourcing_vechicle_manf_date" formControlName="SOURCING_VECHICLE_MANF_DATE" readonly>
    </div>

    <div class="field">
      <label>New Vechicle Manf Date</label>
      <input type="text" placeholder="New Vechicle Manf Date" id="txt_exchange_details_new_vechicle_manf_date" formControlName="NEW_VECHICLE_MANF_DATE" readonly>
    </div>

    <div class="field">
      <label>Sourcing Contact Last Name</label>
      <input type="text" placeholder="Sourcing Contact Last Name" id="txt_exchange_details_sourcing_contact_last_name" formControlName="SOURCING_CONTACT_LAST_NAME" readonly>
    </div>

    <div class="field">
      <label>New Contact Last Name</label>
      <input type="text" placeholder="New Contact Last Name" id="txt_exchange_details_new_contact_last_name" formControlName="NEW_CONTACT_LAST_NAME" readonly>
    </div>

    <div class="field">
      <label>Exchange Approved</label>
      <input type="text" placeholder="Exchange Approved" id="txt_exchange_details_exchange_approved" formControlName="EXCHANGE_APPROVED" readonly>
    </div>

  </div>

  <div class="five fields" style="margin-left: 10px!important;">
    <div class="field">
      <label>Exchange Approval Date</label>
      <input type="text" placeholder="Exchange Approval Date" id="txt_exchange_details_exchange_approval_date"  formControlName="EXCHANGE_APPROVAL_DATE" readonly>
    </div>

    <div class="field">
      <label>Exchange Approved By</label>
      <input type="text" placeholder="Exchange Approved By" id="txt_exchange_details_exchange_approval_by" formControlName="EXCHANGE_APPROVAL_BY" readonly>
    </div>
  </div>
</form>
