
#offlineTable {
  position: relative;
  width: 100% !important;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
} 
#offlineTable.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
#offlineTable {
  display: inline-block;
  @media screen and (max-width: 500px) {
    min-height: 200px;
    min-width: 200px;
  }
}

#scheduledofflineClaimTable {
  position: relative;
  width: 100% !important;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
} 
#scheduledofflineClaimTable.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
#scheduledofflineClaimTable {
  display: inline-block;
  @media screen and (max-width: 500px) {
    min-height: 200px;
    min-width: 200px;
  }
}

.ui.fullscreen.modal{
  left: unset!important;
}
.ui.modal > .close{
  top: 5px!important; 
  right: 5px!important; 
  color: var(--black)!important;
}
.ui.modal>.header:not(.ui){
  text-align: center;
}
.ui.modal .header .icons {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -55px;
  background-color: white;
  margin: 0px auto;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
  z-index: -1;
  text-align: center;
  color: #777874;
  font-size: 45px;
}
.ui.modal .icon-circle {
  width: 45px;
  height: 45px;
  margin: 0px auto;
  background-color: #777874;
  border-radius: 50%;
  font-size: 25px;
  line-height: 43px;
  margin-top: 10px;
  color: white;
}
.ui.modal .header i.icon {
  margin: 0px auto !important;
}
.ui.fullscreen.modal {
  top: 50px !important;
}
.ui.modal.disabled{
  pointer-events:none!important;
}
.ui.modal .header .icons{
  display:none!important
}
.ui.modal>.header:not(.ui){
  padding: 8px!important;
  text-align: center;
  padding: 8px!important;
  color: var(--dark-indigo)!important;
  background-color: var(--white)!important;
  font-family: 'OpenSans-SemiBold', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size: 18px!important;
  font-weight: bold!important;
}
.ui.dimmer.modals.page.transition.visible.active{
  max-height: 100vh!important;
  overflow: auto!important;
}
.ui.form .fields>.field.centered{
  margin: 0px auto;
}
.mb-0{
  margin-bottom: 0px!important;
}
.app-form, .action-form{
  margin-top: 10px;
  position: relative;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 20px;
  background-color: #f3f4f5;
  border-radius: 8px;
}
#first, #second, #third{
  min-width: 172px!important;
}
body.scrollbar {
  padding: 0px!important;
}
object{
  min-height: 90vh!important;
}
.ui.dimmer.modals.page.transition.visible.active { 
  background-color: white!important;
  width: 100%;
}
#model_scheme_view{
  min-width:90%!important;
}
.ui.fullscreen.scrolling.modal, .ui.fullscreen.modal{
  left:unset!important;
}
.ui.modal.scroll{
  overflow-y: scroll;
  max-height:85%;
  margin-top: 50px; 
  margin-bottom:50px;
}
.sticky-column-export {
  position: sticky !important;
  left: 25px !important;
  z-index: 2 !important;
}

.sticky-column-denger {
  position: sticky !important;
  left: 70px !important;
  z-index: 2 !important;
}
p-table{
  ::ng-deep{
    table{
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px!important;
    }
  }
}
p-table{
  ::ng-deep{
    table{
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px!important;
      height: 50px; /* Make this site really long */
      width: 50px;
    }
  }
} 



