<p-toast position="top-right" key="offtakeCancellationHistoryMessage"></p-toast>

<form>
  <div class='row ui grid' style="margin-top: 20px;margin-bottom: 10px;">
    <div class='four wide field popup-page-information' [hidden]="!isOfftakeCancellationHistoryObj">
      <label>Show   </label><span></span>
      <select (change)="sizeChanged($event)" id="dd_offtake_cancellation_history_size" class="ui dropdown">
        <option value=10>10</option>
        <option value=25>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
      </select>
      <label>Entries </label>
    </div>
    <div class='twelve wide field pagination' *ngIf="isOfftakeCancellationHistoryObj">
      <div *ngIf="pager.pages && pager.pages.length" class="ui right floated pagination menu">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)" class="icon item">
          First
        </a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)" class="icon item">
          Previous
        </a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)" class="icon item">
          {{page}}
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)" class="icon item">
          Next
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)" class="icon item">
          Last
        </a>
      </div>
    </div>
    <div class="sixteen wide field">
      <p-table class="box-shadow-custom" [value]="offtakeCancellationHistoryObj" [loading]="offtakeCancellationHistoryLoading" [rowHover]="true" id="offtakeCancellationHistoryTable" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 250px!important;white-space: break-spaces;">Offtake Invoice No</th>
            <th style="width: 200px!important;white-space: break-spaces;">OffTake Intake Date</th>
            <th style="width: 200px!important;white-space: break-spaces;">Offtake Dealer Code</th>
            <th style="width: 250px!important;white-space: break-spaces;">Offtake Dealer Name</th>
            <th style="width: 200px!important;white-space: break-spaces;">Offtake Cancellation Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-offtakeCancellationHistoryItem let-i="rowIndex">
          <tr>
            <td style="width: 250px!important;white-space: break-spaces;">{{ offtakeCancellationHistoryItem.invoice_NO }}</td>
            <td style="width: 200px!important;white-space: break-spaces;">{{ offtakeCancellationHistoryItem.offtake_DATE| date:"dd-MMM-yyyy" }}</td>
            <td style="width: 200px!important;white-space: break-spaces;">{{ offtakeCancellationHistoryItem.sold2PARTY }}</td>
            <td style="width: 250px!important;white-space: break-spaces;">{{ offtakeCancellationHistoryItem.dealername }}</td>
            <td style="width: 200px!important;white-space: break-spaces;">{{ offtakeCancellationHistoryItem.offtake_DATE | date: 'dd-MMM-yyyy' }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="20">No Data Available</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class='sixteen wide field pagination' style="margin-top: 10px; margin-bottom: 20px;" *ngIf="isOfftakeCancellationHistoryObj">
      <div *ngIf="pager.pages && pager.pages.length" class="ui right floated pagination menu">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)" class="icon item">
          First
        </a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)" class="icon item">
          Previous
        </a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)" class="icon item">
          {{page}}
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)" class="icon item">
          Next
        </a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)" class="icon item">
          Last
        </a>
      </div>
    </div>
  </div>
</form>
  